.loader{
    border: 10px solid #efefef;
    border-top: 10px solid red;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    margin: 0px auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }

}
